body{
  background-image: linear-gradient(to right bottom, #ff8558, #ff955a, #ffa45d, #ffb364, #ffc16c, #ffc16c, #ffc06d, #ffc06d, #ffb066, #ffa061, #fe905f, #fb7f5f);
  padding: 5%;
  color: rgb(131, 0, 0);
  margin-bottom: 20%;
}
form{
  padding: 2%;
  text-align: center;
}
h4{
  text-align: left;
  color: rgb(187, 0, 0);
}
.floatL{
  max-height: 100px;
  float: left;
}
.floatR{
  max-height: 100px;
  float: right;
}
.jumbotron {
  text-align: center;
  background:transparent !important;
  font-size: 110%;
  color: rgb(0, 0, 0);
}
.card {
  text-align: center; 
}
.row{
  text-align: center;
}
.output {
  display: none;
}
.smol{
  max-height: 200px;
}
.squish{
  margin-left: 18%;
  margin-right: 18%;
}